---
layout: default
---
<div class='dontprint'>
    <div style='text-align: right;' >
        <p>
            <a href='assets/Charlie-Daly-Resume-2018.pdf' target='_blank'>PDF</a>
            <!-- |
            <a href='assets/Charlie-Daly-Resume-2018.docx' target='_blank'>Word</a> -->
        </p>
    </div>
    <hr />
    <br />
</div>
<div class="home">
    <div>
        <div style='display: inline-block; vertical-align: top;'>
            <img src='assets/profile.small.png' style='border-radius: 2300px; width:160px;' />
        </div>
        <div style='display: inline-block;'>
            <h1 style='margin-bottom: 0px'>Charlie Daly</h1>
            <p><a style='margin-left: 7px;' href='https://charliedaly.co.uk/' target='_blank'>https://charliedaly.co.uk</a></p>
            <div class='dontprint' style='margin-left: 6px;'>
                {%- include social.html -%}
            </div>
        </div>
    </div>
    <h2 style='margin-top: 16px'>Product focused technologist and founder.</h2>
    <p class='dontprint'><a href="#experience">Experience</a> | <a href="#community">Community</a> | <a href="#academia">Academia</a> | <a href="#awards">Awards</a></p>
    {{ content }}
</div>
